{% extends "main.html" %}


{% block pagename %}
<h1>Литературный источник: книга</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <ul>
      <label for="author">Введите только фамилию автора (Иванов):</label>
      <input type="text" id="author" name="author" maxlength="30" required>
    </ul>
    <ul>
      <label for="name_father_Author">Введите инициалы автора (И. И.):</label>
      <input  type="text" id="name_father_Author" name="name_father_Author" maxlength="5" required>
    </ul>
    <ul>
      <label for="title">Введите название источника (Что я делал этим летом):</label>
      <input type="text" id="title" name="title" maxlength="200" required>
    </ul>
    <ul>
      <label for="publisher">Введите издателя источника (Полиграф):</label>
      <input type="text" id="publisher" name="publisher" maxlength="20" required>
    </ul>
    <ul>
      <label for="city">Введите город, в котором был издан источник (Спб):</label>
      <input type="text" id="city" name="city" maxlength="20" required>
    </ul>
    <ul>
      <label for="year">Введите год, в котором был издан источник (2000):</label>
      <input type="number" id="year" name="year" maxlength="4" required>
    </ul>
    <ul>
      <label for="pages">Введите количество страниц в выбранном вами источнике (256):</label>
      <input type="number" id="pages" name="pages" maxlength="4" required>
    </ul>

    <button type="submit">Получить результат</button>
</form>
{% endblock %}
