{% extends "fourth_task/menu.html" %}

{% block pagename %} <h1>Описание товаров</h1> {% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h3>Книга</h3>
    <ul>
        Монография – это научное издание, подготовленное одним или несколькими авторами, работающими в одной области
        исследований. Такой вид научного издания оформляется в виде отдельной книги, которая состоит из одного произведения,
        описывающего конкретное исследование, проблему или научную дискуссию.
        Сборник научных трудов – научное произведение, представленное в виде книжного издания, посвященное результатам
        научных и научно-исследовательских работ. Сборник трудов содержит в своем составе исследовательские материалы,
        подготовленные различными авторами в виде отдельных работ, но объединенные в сборник с научным форматом содержания,
        направленным на описание работ, лежащих в одной плоскости наук.
    </ul>
    <h3>Статья из журнала</h3>
    <ul>
        Научная статья в таком виде, представляет собой оригинальный текст, цель которого – описание исходных данных,
        касающихся уникальных особенностей исследования. Опубликованная в научном журнале имеющем переодичность выпуска номеров
    </ul>
    <h3>Статья из сборника конференции</h3>
    <ul>
        Материалы конференции – это сборник трудов конференции, подготовленный по ее итогам. Данный вид сборника
        составляется из докладов, выступлений, решений конференции, рекомендаций, обсуждений отдельных тем и т.д.
        Иными словами, материалы конференции кратко знакомят читателя со всеми научными работами так или иначе обсуждаемыми в ходе ее проведения.
    </ul>
    <h3>Статья из газеты</h3>
    <ul>
        Научная статья в таком виде, представляет собой оригинальный текст, цель которого – описание исходных данных,
        касающихся уникальных особенностей исследования. Опубликованная в газете.
    </ul>
    <button><a href="/main">Главная страница</a></button>
{% endblock %}
