<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Descript</title>
</head>
<body>
    <h1>Литературные источники</h1>
    <ul>
        <li>Книга  <button>Приобрести</button></li>
        <li>Статья из журнала  <button>Приобрести</button></li>
        <li>Статья из сборника конференции  <button>Приобрести</button></li>
        <li>Статья из газеты  <button>Приобрести</button></li>
    </ul>
    <button><a href="/main">Главная страница</a></button>
</body>
</html>